/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";
	part-number = "BB-BONE-WTHR-01";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
	"P8.6",		/* gpio1_3 */
	"gpio1_3";

	fragment@0 {
                target = <&am33xx_pinmux>;
                __overlay__ {
			weather_cape_w1_pins: pinmux_weather_cape_w1_pins {
				pinctrl-single,pins = <
				0x0c 0x37       /* gpmc_ad3.gpio1_3, OMAP_PIN_INPUT_PULLUP | OMAP_MUX_MODE7 - w1-gpio */
				>;
			};
                };
	};
        fragment@1 {
                target = <&ocp>;
                __overlay__ {
		        onewire@0 {
			        compatible      = "w1-gpio";
			        pinctrl-names   = "default";
			        pinctrl-0       = <&weather_cape_w1_pins>;
			        status          = "okay";
			        gpios = <&gpio2 3 0>;
		        };
                };
	};
};
